.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media>.float-left {
    padding-right: 10px;
}

.img-circle {
    border-radius: 50%;
}

.object-fit-cover{
    object-fit: cover;
}

.image-in-slider{
    filter: blur(5px) brightness(0.5);
}